<!doctype html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/default_layout :: layout(~{::title}, ~{::section})}"
>
  <head>
    <title>게임 목록</title>
  </head>
  <body>
    <section>
      <h1>리뷰 목록</h1>
      <p>이 페이지는 게임 목록을 표시합니다.</p>
      <ul>
        <li th:each="g : ${game}">
          <a
            th:href="@{/review/game/{game.id}(game.id=${g.id})}"
            th:text="${g.name}"
            >게임 이름</a
          >
        </li>
      </ul>
      <a th:href="@{/review/write}">리뷰작성</a>
    </section>
  </body>
</html>
