<!doctype html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/default_layout :: layout(~{::title}, ~{::section})}"
>
  <head>
    <title>회원 가입</title>
  </head>
  <body>
    <section>
      <h1 class="text-2xl font-bold">회원 가입</h1>

      <form
        th:action
        method="POST"
        enctype="multipart/form-data"
        onsubmit="
          JoinForm__submit(this);
          return false;
        "
      >
        <fieldset class="fieldset">
          <legend class="fieldset-legend">이메일</legend>
          <label class="input validator">
            <svg
              class="h-[1em] opacity-50"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <g
                stroke-linejoin="round"
                stroke-linecap="round"
                stroke-width="2.5"
                fill="none"
                stroke="currentColor"
              >
                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </g>
            </svg>
            <input
              type="email"
              required
              placeholder="이메일를 입력해주세요."
              title="input email"
              name="email"
            />
          </label>
          <p class="validator-hint hidden">이메일을 확인 후 입력해주세요.</p>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">비밀번호</legend>
          <label class="input validator">
            <svg
              class="h-[1em] opacity-50"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <g
                stroke-linejoin="round"
                stroke-linecap="round"
                stroke-width="2.5"
                fill="none"
                stroke="currentColor"
              >
                <path
                  d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"
                ></path>
                <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
              </g>
            </svg>
            <input
              type="password"
              required
              placeholder="비밀번호를 입력해주세요."
              title="input password"
              name="password"
            />
          </label>
          <p class="validator-hint hidden">비밀번호를 확인 후 입력해주세요.</p>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">비밀번호 확인</legend>
          <label class="input validator">
            <svg
              class="h-[1em] opacity-50"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <g
                stroke-linejoin="round"
                stroke-linecap="round"
                stroke-width="2.5"
                fill="none"
                stroke="currentColor"
              >
                <path
                  d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"
                ></path>
                <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
              </g>
            </svg>
            <input
              type="password"
              required
              placeholder="비밀번호 확인을 입력해주세요."
              title="input passwordConfirm"
              name="passwordConfirm"
            />
          </label>
          <p class="validator-hint hidden">
            비밀번호 확인을 확인 후 입력해주세요.
          </p>
        </fieldset>
        <div>
          <button type="submit" class="btn btn-neutral">회원가입</button>
        </div>
        <div>[[${param.errorMsg}]]</div>
      </form>

      <script>
        function JoinForm__submit(form) {
          form.email.value = form.email.value.trim();
          if (form.email.value.length === 0) {
            alert("이메일을 입력해주세요.");
            form.email.focus();
            return;
          }

          form.password.value = form.password.value.trim();
          if (form.password.value.length === 0) {
            alert("비밀번호를 입력해주세요.");
            form.password.focus();
            return;
          }

          form.passwordConfirm.value = form.passwordConfirm.value.trim();
          if (form.passwordConfirm.value.length === 0) {
            alert("비밀번호 확인을 입력해주세요.");
            form.passwordConfirm.focus();
            return;
          }

          if (form.password.value !== form.passwordConfirm.value) {
            alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
            form.passwordConfirm.focus();
            return;
          }

          // 모든 유효성 검사를 통과하면 폼 제출
          form.submit();
        }
      </script>
    </section>
  </body>
</html>
